[Unit]
Description=Thanos Sidecar
After=network.target

[Service]
User=thanos
Group=thanos
ExecStart=/usr/local/bin/thanos sidecar \
  --tsdb.path=/var/lib/prometheus \
  --prometheus.url http://localhost:9090 \
  --grpc-address=0.0.0.0:10901 \
  --http-address=0.0.0.0:10902 \
  --objstore.config-file=/opt/thanos/azure-storage-config.yaml
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target